@font-face {
    font-family: SourceSans3;
    src: url("../assets/fonts/SourceSans3/SourceSans3-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: SourceSans3;
    src: url("../assets/fonts/SourceSans3/SourceSans3-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

body{
    font-family: SourceSans3, serif;
}