@font-face {
    font-family: SourceSans3;
    src: url("../assets/fonts/SourceSans3/SourceSans3-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: SourceSans3;
    src: url("../assets/fonts/SourceSans3/SourceSans3-Bold.ttf");
    font-style: normal;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: SourceSans3, serif;
}

.factory-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
}

.text-content {
    display: flex;
    align-items: flex-start;
    gap: 100px;
    margin-bottom: 20px;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.text-content p {
    font-size: 1rem;
    color: #333;
}

.banner-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 8px;
}


h1, h2, h3 {
    margin: 0;
}

/*Hero block*/

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 20px;
}

.hero-content {
    max-width: 50%;
}

.hero-title {
    font-size: 2.5em;
    color: #333;
}

.hero-description {
    font-size: 1.2em;
    margin-top: 10px;
    color: #666;
}

.hero-image {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
}

/* Products Block */
.products {
    padding: 20px;
    background-color: #fff;
}

.products-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-name {
    margin-top: 10px;
    font-size: 1.1em;
    color: #333;
}